<!doctype html>
<html lang="{{ lang | default('de') }}" class="no-js">
{% include "head.njk" %}
<body class="{{ bodyClass | default('') }}">
  {% include "header.njk" %}
  {% if skipLinkHref %}
  <a href="{{ skipLinkHref }}" class="skip-to-content">{{ skipLinkLabel | default('Zum Hauptinhalt springen') }}</a>
  {% endif %}
  {{ content | safe }}
  {% include "footer.njk" %}
  <script src="/scripts/main.js" defer></script>
  <script src="/scripts/interactive-features.js" defer></script>
  {% if bodyClass == 'page-coffee-map' %}
  <script src="https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.js"></script>
  <script src="/scripts/coffee-map.js" defer></script>
  {% endif %}
</body>
</html>
